<form [formGroup]="mainForm">
    <div class="app-content">
        <div class="row form-header">
            <div class="col-sm-5 form-col">
                <span class=" form-title">{{ 'Phân quyền' | translate }}</span>
                <button type="button" class="btn btn-add ml-2" (click)="onAdd(editDialog)">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div class="col-sm-2 form-col">
                <mat-form-field class="input-full-width">
                    <mat-label>Giá trị tìm kiếm</mat-label>
                    <input type="text" matInput formControlName="searchValue" maxlength="250" (keyup.enter)="onSearch()"
                        #searchValue placeholder="Tên" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-sm-4 form-col">
                <mat-form-field class="input-full-width">
                    <mat-label>{{ 'COMMON.GENERAL.STATUS' | translate }}</mat-label>
                    <mat-select formControlName="statuses" multiple (selectionChange)="onChangeStatus()">
                        <mat-option value="{{ status }}" *ngFor="let status of statuses">
                            {{ 'MODULE.FORM.FORM_STATUS_VALUES.' + status | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-1 form-col">
                <button type="button" class="btn btn-add btn-block" (click)="onSearch()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <!-- Form Body -->
        <div class="row form-body">
            <div class="col-sm-12 form-col">
                <data-table id="data-grid" headerTitle="" [page]="pageNumber" [items]="items" [itemCount]="itemCount"
                    (reload)="load($event)" [limit]="10" [header]="false" [selectColumn]="false" [multiSelect]="false"
                    [pagination_input]="true" [pagination_range]="true" [indexColumnHeader]="'#'"
                    [selectOnRowClick]="false" [expandableRows]="false" [showReloading]="true" [sortBy]="'code'"
                    [sortAsc]="true" #dataTable>
                    <data-table-column [property]="" [header]="'COMMON.GENERAL.CODE' | translate" [width]="150">
                        <ng-template #dataTableCell let-item="item">
                            <span style="display: block;">
                                <a routerLink="../form-item-list/{{item.uuid}}" class="link-text">{{ item.code}}</a>
                            </span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="'COMMON.GENERAL.NAME' | translate">
                        <ng-template #dataTableCell let-item="item">
                            <span style="display: block;">
                                <a routerLink="../form-item-list/{{item.uuid}}" class="link-text">{{ item.name}}</a>
                            </span>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="'Chấm điểm' | translate" [styleClass]="'text-center'"
                        [width]="120">
                        <ng-template #dataTableCell let-item="item">
                            <div class="">
                                <span *ngIf="item.hasScores"><i class="fa fa-check"></i></span>
                            </div>
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="'COMMON.GENERAL.STATUS' | translate"
                        [styleClass]="'text-center'" [width]="150">
                        <ng-template #dataTableCell let-item="item">
                            {{ 'MODULE.FORM.FORM_STATUS_VALUES.' + item.status | translate }}
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="'Phiếu'" [styleClass]="'text-center'"
                        [width]="150">
                        <ng-template #dataTableCell let-item="item">
                            <span>
                                <a routerLink="../form-doc-list/{{item.uuid}}" class="link-text">Danh sách phiếu</a>
                            </span>
                            <!-- <button type="button" class="btn btn-add btn-sm space-right-small ml-2"
                                (click)="onDocCountRefresh(item.uuid)" title="Cập nhật lại tổng số phiếu">
                                <i class="fa fa-refresh"></i>
                            </button> -->
                            <!-- <span class="ml-3">
                            <a routerLink="../form-preview/{{item.uuid}}" class="link-text">Xem thử</a>
                        </span> -->
                        </ng-template>
                    </data-table-column>
                    <data-table-column [property]="" [header]="''" [styleClass]="'text-center'" [width]="100">
                        <ng-template #dataTableCell let-item="item">
                            <button type="button" class="btn btn-add btn-sm space-right-small ml-2"
                                (click)="onEdit(editDialog, item)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </ng-template>
                    </data-table-column>
                </data-table>
            </div>
        </div>

        <!-- editDialog Template -->
        <ng-template #editDialog>
            <div class="modal-form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">
                            {{ 'Biểu mẫu' | translate }}
                            <span *ngIf="isEditMode"> - {{ 'COMMON.ACTION.EDIT' | translate }}</span>
                            <span *ngIf="!isEditMode"> - {{ 'COMMON.ACTION.ADD' | translate }}</span>
                        </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-form-add [item]="selectedItem" [mode]="mode" (valueChange)='onChanged($event)'>
                        </app-form-add>
                    </div>
                </div>
            </div>
        </ng-template>

        <!-- <app-confirm-dialog iconCls="fa fa-trash" >
    </app-confirm-dialog> -->

    </div>
</form>
