<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-12">
            <span class="form-title">{{ 'MENU.SETTINGS' | translate }}</span>
        </div>   
    </div>
    
    <br>
    <div class="row">
        <div class="col-sm-5">
            <mat-list>
                <mat-list-item>
                    <a routerLink="../report/list" routerLinkActive="active">
                        <h5>Báo cáo</h5>
                    </a>
                </mat-list-item>
                <!-- <mat-divider></mat-divider> -->
            </mat-list>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
        </div>
    </div>
</div>